<!DOCTYPE html>
<html lang="sv">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <link rel="icon" href="images/favicon.png" />
    <link rel="apple-touch-icon" href="images/favicon.png" />
    <link rel="stylesheet" href="/stylesheets/details.css" />
  </head>
  <body>
    <header>
      <div class="header-top">
        <div class="logo">
          <h1><a href="/">Programmers<a></h1>
        </div>
        <div class="search-container">
          <input type="text" id="search-bar" placeholder="Sök produkter" />
          <ul id="suggestions-list" class="suggestions"></ul>
          <button id="search-button">Sök</button>
        </div>
        <div class="icon-links">
          <a href="#" class="icon-link">
            <i class="fa-thin fa-building-magnifying-glass"></i> Hitta butik
          </a>
          <a href="#" class="icon-link">
            <i class="fa-solid fa-right-to-bracket"></i> Logga in
          </a>
          <a href="/checkout" class="icon-link">
            <i class="fa-solid fa-cart-shopping"></i> Kundvagn
          </a>
        </div>
      </div>
    </header>

    <main class="container-produkt">
      <section class="produkt-info">
        <img src="<%= product.image %>" alt="<%= product.name %>" />
        <h2><%= product.name %></h2>
        <p class="pris"><%= product.price %></p>
        <p class="beskrivning"><%= product.description %></p>

        <div class="specifikationer">
          <p><strong>Specifikationer:</strong></p>
          <ul>
            <li>Hög prestanda för smidig programmering och utveckling</li>
            <li>
              8 GB RAM och 256 GB SSD-lagring för snabb multitasking och massor
              av utrymme
            </li>
            <li>Enastående batteritid som håller hela arbetsdagen</li>
            <li>Elegant design som kombinerar stil och funktion</li>
          </ul>
        </div>
        <div class="alternativ">
          <label for="färg-alternativ">Färgalternativ:</label>
          <select id="färg-alternativ">
            <option value="svart">Svart</option>
            <option value="silver">Silver</option>
            <option value="grå">Grå</option>
            <option value="blå">Blå</option>
            <option value="guld">Guld</option>
          </select>
        </div>

        <button class="add-to-cart" data-id="<%= product.id %>">Lägg i varukorgen</button>
      </section>
    </main>

    <section class="Slides">
      <h2 class="heading-secondary">Liknande datorer</h2>
      <div class="slideshow-container">
        <button class="prev">&#10094;</button>
        <button class="next">&#10095;</button>

        <!-- Slide 1 -->
        <div class="slide">
          <div class="grid-container">
            <div class="grid-item">
              <a href="#">
                <img src="/images/acer1.jpg" alt="Acer Aspire 5" />
              </a>
              <p class="top">Acer Aspire 5</p>
              <p class="top-price">5090 :-</p>
            </div>
            <div class="grid-item">
              <a href="#">
                <img src="/images/acer2.jpg" alt="Acer Nitro 5" />
              </a>
              <p class="top">Acer Nitro 5</p>
              <p class="top-price">8095 :-</p>
            </div>
            <div class="grid-item">
              <a href="#">
                <img src="/images/macbook4.jpg" alt="MacBook Pro 16" />
              </a>
              <p class="top">Macbook Pro 16</p>
              <p class="top-price">12700 :-</p>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="slide">
          <div class="grid-container">
            <div class="grid-item">
              <a href="#">
                <img src="/images/asus1.jpg" alt="Acer Swift 3" />
              </a>
              <p class="top">Acer Swift 3</p>
              <p class="top-price">7490 :-</p>
            </div>
            <div class="grid-item">
              <a href="#">
                <img src="/images/asus2.jpg" alt="Acer Chromebook 15" />
              </a>
              <p class="top">Acer Chromebook 15</p>
              <p class="top-price">32000 :-</p>
            </div>
            <div class="grid-item">
              <a href="#">
                <img src="/images/hp2.jpg" alt="HP" />
              </a>
              <p class="top">HP Elite Book</p>
              <p class="top-price">20000 :-</p>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="slide">
          <div class="grid-container">
            <div class="grid-item">
              <a href="#">
                <img src="/images/dell3.jpg" alt="Dell XPS 13" />
              </a>
              <p class="top">Dell XPS 13</p>
              <p class="top-price">12995 :-</p>
            </div>
            <div class="grid-item">
              <a href="#">
                <img src="/images/dell1.jpg" alt="Dell G15" />
              </a>
              <p class="top">Dell G15</p>
              <p class="top-price">11000 :-</p>
            </div>
            <div class="grid-item">
              <a href="#">
                <img src="/images/macbook3.jpg" alt="MacBook" />
              </a>
              <p class="top">Macbook Air</p>
              <p class="top-price">24500 :-</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="review">
      <div class="container">
        <div class="container__left">
          <h1>Bygg din framtid med kraftfulla datorer från AJM</h1>
          <p>
            För programmerare erbjuder vi högpresterande och pålitliga datorer
            anpassade för krävande utvecklingsmiljöer, inklusive webbutveckling,
            maskininlärning och spelprogrammering. Våra datorer kombinerar
            kraftfulla processorer och snabb lagring för effektiv kodutveckling.
          </p>
          <p>
            För företag tillhandahåller vi skräddarsydda, kostnadseffektiva
            lösningar som förbättrar produktiviteten och optimerar arbetsflöden,
            med hållbara datorer och anpassad support. Lita på AJM för att
            utrusta ditt team med verktyg för framgång.
          </p>
        </div>
        <div class="container__right">
          <div class="customers">
            <img src="/images/customer1.jpg" alt="Porträtt av Victor Sjöholm" />
            <div class="custom">
              <div class="custom-details">
                <p>
                  Jag är imponerad av både prestanda och pris på datorerna från
                  AJM. De har verkligen förstått vad en programmerare behöver!
                </p>
                <div class="stars-container">
                  <ion-icon class="star" name="star"></ion-icon>
                  <ion-icon class="star" name="star"></ion-icon>
                  <ion-icon class="star" name="star"></ion-icon>
                  <ion-icon class="star" name="star"></ion-icon>
                  <ion-icon class="star" name="star"></ion-icon>
                </div>
                <h4>- Victor Sjöholm</h4>
              </div>
            </div>
          </div>

          <div class="customers">
            <img
              src="/images/customer2.jpg"
              alt="Porträtt av Maria Torstensson"
            />
            <div class="custom">
              <div class="custom-details">
                <p>
                  Som företag valde vi AJM för deras pålitliga och skräddarsydda
                  lösningar. Vi är nu mer effektiva än någonsin!
                </p>
                <div class="stars-container">
                  <ion-icon class="star" name="star"></ion-icon>
                  <ion-icon class="star" name="star"></ion-icon>
                  <ion-icon class="star" name="star"></ion-icon>
                  <ion-icon class="star" name="star"></ion-icon>
                  <ion-icon class="star" name="star"></ion-icon>
                </div>
                <h4>- Maria Torstensson</h4>
              </div>
            </div>
          </div>

          <div class="customers">
            <img src="/images/customer3.jpg" alt="Rijad Hamula" />
            <div class="custom">
              <div class="custom-details">
                <p>
                  Vi har haft ett fantastiskt samarbete med AJM. Deras datorer
                  har förbättrat både våra interna processer och vår
                  kundservice.
                </p>
                <div class="stars-container">
                  <ion-icon class="star" name="star"></ion-icon>
                  <ion-icon class="star" name="star"></ion-icon>
                  <ion-icon class="star" name="star"></ion-icon>
                  <ion-icon class="star" name="star"></ion-icon>
                  <ion-icon class="star" name="star"></ion-icon>
                </div>
                <h4>- Rijad Hamula</h4>
              </div>
            </div>
          </div>

          <div class="customers">
            <img src="/images/customer4.jpg" alt="Porträtt av Mirjam Davis" />
            <div class="custom">
              <div class="custom-details">
                <p>
                  AJM:s datorer har verkligen tagit min programmering till nästa
                  nivå. Snabb, pålitlig och exakt vad jag behövde!
                </p>
                <div class="stars-container">
                  <ion-icon class="star" name="star"></ion-icon>
                  <ion-icon class="star" name="star"></ion-icon>
                  <ion-icon class="star" name="star"></ion-icon>
                  <ion-icon class="star" name="star"></ion-icon>
                  <ion-icon class="star" name="star"></ion-icon>
                </div>
                <h4>- Mirjam Davis</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="footer-links">
        <h4>Kundtjänst</h4>
        <ul>
          <li><a href="https://www.google.com/">Hitta butik</a></li>
          <li><a href="https://www.google.com/">Spåra din leverans</a></li>
          <li><a href="https://www.google.com/">Vanliga frågor</a></li>
          <li><a href="https://www.google.com/">Kontakta oss</a></li>
        </ul>
      </div>
      <div class="footer-links">
        <h4>Information</h4>
        <ul>
          <li><a href="https://www.google.com/">Leverans</a></li>
          <li><a href="https://www.google.com/">Marketplace</a></li>
          <li><a href="https://www.google.com/">Köpvillkor</a></li>
          <li><a href="https://www.google.com/">Recensioner</a></li>
        </ul>
      </div>
      <div class="footer-links">
        <h4>Om oss</h4>
        <ul>
          <li><a href="https://www.google.com/">Ledningsgrupp </a></li>
          <li><a href="https://www.google.com/">Karriärmöjligheter</a></li>
          <li><a href="https://www.google.com/">Event</a></li>
          <li><a href="https://www.google.com/">Hållbarhet</a></li>
        </ul>
      </div>
      <p class="copyright">Copyright &copy; 2024 by Programmers AJM</p>
    </footer>
    <script src="/javascripts/details.js"></script>
    <script src="/javascripts/detailsBuy.js"></script>
  </body>
</html>
